<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--FAVICON-->
    
    <link rel="apple-touch-icon" sizes="57x57" href="/images/ehecatlLogo.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/ehecatlLogo.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/ehecatlLogo.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/ehecatlLogo.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/ehecatlLogo.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/ehecatlLogo.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/ehecatlLogo.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/ehecatlLogo.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/ehecatlLogo.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/ehecatlLogo.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ehecatlLogo.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/ehecatlLogo.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ehecatlLogo.ico/favicon-16x16.png">
    <link rel="manifest" href="/images/ehecatlLogo.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ehecatlLogo.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Air Quality Monitoring System</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Custom Theme Style -->
    <link href="/css/custom.css" rel="stylesheet" type="text/css">

</head>
    <body>
     
        <div class="vertical-container">
           <!---- <div class ="logo-container">-->
                <img src="/images/LOGO.png">
           <!---- </div>-->
           <!----<div class="container clearfix">-->
                <h1>  <span id="currentDate">Noviembre 14, 2018</span><!--<a class="button">Cambiar Rango de Fecha</a></h1>-->
                <div class="symbology">
                    <ul style="list-style-type:none;">
                        <li><?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 368 368" style="enable-background:new 0 0 368 368;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M296,48c-39.704,0-72,32.304-72,72c0,4.416,3.576,8,8,8s8-3.584,8-8c0-30.88,25.128-56,56-56s56,25.12,56,56
                                        s-25.128,56-56,56H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h288c39.704,0,72-32.304,72-72S335.704,48,296,48z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M144,32c-30.88,0-56,25.12-56,56c0,4.416,3.584,8,8,8s8-3.584,8-8c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40
                                        c0,22.056-17.944,40-40,40H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h136c30.88,0,56-25.12,56-56S174.88,32,144,32z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M280,224H8c-4.416,0-8,3.584-8,8c0,4.416,3.584,8,8,8h272c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40
                                        c-22.056,0-40-17.944-40-40c0-4.416-3.576-8-8-8s-8,3.584-8,8c0,30.88,25.128,56,56,56s56-25.12,56-56S310.872,224,280,224z"/>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            </svg>
                            Buena</li>
                        <li><?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 368 368" style="enable-background:new 0 0 368 368;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M296,48c-39.704,0-72,32.304-72,72c0,4.416,3.576,8,8,8s8-3.584,8-8c0-30.88,25.128-56,56-56s56,25.12,56,56
                                        s-25.128,56-56,56H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h288c39.704,0,72-32.304,72-72S335.704,48,296,48z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M144,32c-30.88,0-56,25.12-56,56c0,4.416,3.584,8,8,8s8-3.584,8-8c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40
                                        c0,22.056-17.944,40-40,40H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h136c30.88,0,56-25.12,56-56S174.88,32,144,32z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M280,224H8c-4.416,0-8,3.584-8,8c0,4.416,3.584,8,8,8h272c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40
                                        c-22.056,0-40-17.944-40-40c0-4.416-3.576-8-8-8s-8,3.584-8,8c0,30.88,25.128,56,56,56s56-25.12,56-56S310.872,224,280,224z"/>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            </svg>Regular</li>
                        <li><?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 368 368" style="enable-background:new 0 0 368 368;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M296,48c-39.704,0-72,32.304-72,72c0,4.416,3.576,8,8,8s8-3.584,8-8c0-30.88,25.128-56,56-56s56,25.12,56,56
                                        s-25.128,56-56,56H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h288c39.704,0,72-32.304,72-72S335.704,48,296,48z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M144,32c-30.88,0-56,25.12-56,56c0,4.416,3.584,8,8,8s8-3.584,8-8c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40
                                        c0,22.056-17.944,40-40,40H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h136c30.88,0,56-25.12,56-56S174.88,32,144,32z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M280,224H8c-4.416,0-8,3.584-8,8c0,4.416,3.584,8,8,8h272c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40
                                        c-22.056,0-40-17.944-40-40c0-4.416-3.576-8-8-8s-8,3.584-8,8c0,30.88,25.128,56,56,56s56-25.12,56-56S310.872,224,280,224z"/>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            </svg>Mala</li>
                        <li><?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 368 368" style="enable-background:new 0 0 368 368;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M296,48c-39.704,0-72,32.304-72,72c0,4.416,3.576,8,8,8s8-3.584,8-8c0-30.88,25.128-56,56-56s56,25.12,56,56
                                        s-25.128,56-56,56H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h288c39.704,0,72-32.304,72-72S335.704,48,296,48z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M144,32c-30.88,0-56,25.12-56,56c0,4.416,3.584,8,8,8s8-3.584,8-8c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40
                                        c0,22.056-17.944,40-40,40H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h136c30.88,0,56-25.12,56-56S174.88,32,144,32z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M280,224H8c-4.416,0-8,3.584-8,8c0,4.416,3.584,8,8,8h272c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40
                                        c-22.056,0-40-17.944-40-40c0-4.416-3.576-8-8-8s-8,3.584-8,8c0,30.88,25.128,56,56,56s56-25.12,56-56S310.872,224,280,224z"/>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            </svg>Muy mala</li>
                            <li><?xml version="1.0" encoding="iso-8859-1"?>
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 368 368" style="enable-background:new 0 0 368 368;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M296,48c-39.704,0-72,32.304-72,72c0,4.416,3.576,8,8,8s8-3.584,8-8c0-30.88,25.128-56,56-56s56,25.12,56,56
                                            s-25.128,56-56,56H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h288c39.704,0,72-32.304,72-72S335.704,48,296,48z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M144,32c-30.88,0-56,25.12-56,56c0,4.416,3.584,8,8,8s8-3.584,8-8c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40
                                            c0,22.056-17.944,40-40,40H8c-4.416,0-8,3.584-8,8s3.584,8,8,8h136c30.88,0,56-25.12,56-56S174.88,32,144,32z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M280,224H8c-4.416,0-8,3.584-8,8c0,4.416,3.584,8,8,8h272c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40
                                            c-22.056,0-40-17.944-40-40c0-4.416-3.576-8-8-8s-8,3.584-8,8c0,30.88,25.128,56,56,56s56-25.12,56-56S310.872,224,280,224z"/>
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                </svg>Extremadamente mala</li>
                      </ul>  
                </div>
                <!---- </div>>-->
        </div>
 <div class="wrapper">    
        <div class="container clearfix">
          <!--TVOC CHART-->
            <div class="third widget line">
                <div class="chart-legend">
                        <h3><img src="/images/gas.png" width="41" height="48"> TVOC</h3>
                 <!-- <p><span>Esta semana</span> &mdash; <strong>Semana Pasada</strong></p>
               <p><a href="" class="button">Cambiar Rango de Fechas</a><a href="" class="button">Filtrar por Ubicacion</a></p> -->
                </div>
                <div class="canvas-container">
                    <canvas id="tvocChart"></canvas>
                </div>
            </div>

        <!--Co2 CHART-->
        <div class="third widget line">
            <div class="chart-legend">
                <h3><img src="/images/co2.png" width="41" height="48"> CO<sub>2</sub></h3>
               <!-- <p><span>Esta semana</span> &mdash; <strong>Semana Pasada</strong></p>
                <p><a href="" class="button">Cambiar Rango de Fechas</a><a href="" class="button">Filtrar por Ubicacion</a></p>-->
            </div>
            <div class="canvas-container">
                <canvas id="co2Chart"></canvas>
            </div>
        </div>
        </div>
        <div class="container clearfix">
         <!--HUMIDITY CHART-->
           <div class="third widget line">
                <div class="chart-legend">
                    <h3><img src="/images/watering.png" width="41" height="48"> Humedad</h3>
 <!-- <p><span>Esta semana</span> &mdash; <strong>Semana Pasada</strong></p>
                <p><a href="" class="button">Cambiar Rango de Fechas</a><a href="" class="button">Filtrar por Ubicacion</a></p>-->                </div>
                <div class="canvas-container">
                    <canvas id="humChart"></canvas>
                </div>
            </div>
        
            <!--Temperature CHART-->
            <div class="third widget line">
                <div class="chart-legend">
                    <h3><img src="/images/thermometer.png" width="41" height="48"> Temperatura</h3>
  <!-- <p><span>Esta semana</span> &mdash; <strong>Semana Pasada</strong></p>
                <p><a href="" class="button">Cambiar Rango de Fechas</a><a href="" class="button">Filtrar por Ubicacion</a></p>-->
                </div>
                <div class="canvas-container">
                    <canvas id="tempChart"></canvas>
                </div>
            </div>
            
        </div>
    
            <!-- footer content -->
            <footer>
              <div class="credits">
                  Copyright © AQMS 2019 Created by Ehécatl - V2.0
              </div>

            </footer>

              <!-- /footer content -->
    </div>
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/js/dates.js"></script>
<!-- Custom Theme Scripts -->
<script src="/js/chartResize.js"></script>
<script src="/socket.io/socket.io.js" charset= "utf-8"></script>
<!----<script src="/node_modules/easytimer.js/dist/easytimer.min.js"></script> -->
<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" charset="utf-8"></script>
   <script>
       //colors object
       const colors = {
            green:'rgba(57, 232, 0, 0.40)',
            blue:'rgba(20, 98, 255, 0.50)',
            yellow:'rgba(255, 263, 134, 0.70)',
            red: 'rgba(232, 44, 12, 0.87)'
        };
       //creating a plugin that draws a background color to the charts
      
        let currentStatus = (isAcceptable,isRegular,isBad,isToxic)=>{
            let status="";
                if(isAcceptable){ status = "acceptable";}
                if(isRegular){ status = "regular";}
                if(isBad){ status = "bad";}
                if(isToxic){ status = "toxic";}
            return status;
        }
        let tvocStatus= (data)=>{
            let isAcceptable= data < 0.2;
            let isRegular = data >=0.2 && data < 3;
            let isBad = data >=3 && data < 25;
            let isToxic = data > 25;
            return currentStatus(isAcceptable,isRegular,isBad,isToxic);
        };

        let co2Status= (data)=>{
            let isAcceptable= data < 500;
            let isRegular = data >=500 && data < 600;
            let isBad = data >=600 && data < 800;
            let isToxic = data > 800;
            return currentStatus(isAcceptable,isRegular,isBad,isToxic);
        };
        function enviromentStatus(arduinoData,statusType){
            return statusType(arduinoData);
        }

        let setStatus=(chart,statusType,arduinoData)=>{
            if (enviromentStatus(arduinoData,statusType)=="acceptable"){
                chart.data.datasets[0].backgroundColor = colors.green;
            }
            if (enviromentStatus(arduinoData,statusType)=="regular"){
                chart.data.datasets[0].backgroundColor= colors.blue;
            }
            if (enviromentStatus(arduinoData,statusType)=="bad"){
                chart.data.datasets[0].backgroundColor = colors.yellow;
            }
            if (enviromentStatus(arduinoData,statusType)=="toxic"){
                chart.data.datasets[0].backgroundColor = colors.red;
            }  
        }
        
        const socket= io();
//TVOC chart
        let counter=0;
socket.on("arduino:tvoc",(arduinoData)=>{
    setStatus(tvocChart,tvocStatus,arduinoData.value);
    tvocChart.data.labels.push(counter);
    tvocChart.data.datasets.forEach(dataset => {
        dataset.data.push(arduinoData.value);
    });    
    counter++;
    if (counter > 13){
        tvocChart.data.labels.shift(counter);
        tvocChart.data.datasets.forEach(dataset => {
            dataset.data.shift(arduinoData.value);
        });    
    }
    tvocChart.update();
});
//TVOC chart DEFINITION
var ctx = document.getElementById("tvocChart").getContext('2d');
var tvocChart = new Chart(ctx, {
type: 'line',
data: {
labels: ["TVOC"],
datasets: [{
    label: 'ppb vs seg',
    backgroundColor:'rgba(254, 90, 0, 0.5)',
    borderColor: 'rgba(255, 159, 64, 1)',
    borderWidth: 1,
    //data: [0,5,10,15,20,25,30,35,40,45,50,55,60,70,75,80]
}]
},
options: {
scales: {
    yAxes: [{
        ticks: {
            beginAtZero:true
        }
    }]
}
}
});

// CO2 chart
let counterCo=0;
    socket.on("arduino:co2",(arduinoData)=>{
    setStatus(co2Chart,co2Status,arduinoData.value);
       co2Chart.data.labels.push(counterCo);
       co2Chart.data.datasets.forEach(dataset => {
            dataset.data.push(arduinoData.value);
        });    
        counterCo++;
        if (counterCo > 13){
            co2Chart.data.labels.shift(counterCo);
            co2Chart.data.datasets.forEach(dataset => {
                dataset.data.shift(arduinoData.value);
            });    
        }
        co2Chart.update();
    });
    // CO2 chart DEFINITION
    var ctx = document.getElementById("co2Chart").getContext('2d');
    var co2Chart = new Chart(ctx, {
    type: 'line',
    data: {
    labels: ["CO2"],
    datasets: [{
        label: 'ppm vs seg',
        backgroundColor:'rgba(59, 99, 210, 0.5)',
        borderColor: 'rgba(31, 53, 112, 1)',
        borderWidth: 1,
        //data: [400,600,800,1000,1200,1400,1600,1800,2000,2200,2400]
    }]
    },
    options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }
    }
    });

    // Humidity chart
let counterHum=0;
    socket.on("arduino:hum",(arduinoData)=>{
        //secondsPassed = timer.getTotalTimeValues().seconds;
        //console.log(secondsPassed);
        humChart.data.labels.push(counterHum);
        humChart.data.datasets.forEach(dataset => {
            dataset.data.push(arduinoData.value);
        });    
        counterHum++;
        if (counterHum > 13){
            humChart.data.labels.shift(counterHum);
            humChart.data.datasets.forEach(dataset => {
                dataset.data.shift(arduinoData.value);
            });    
        }
        humChart.update();
    });
    // Humidity chart DEFINITION
    var ctx = document.getElementById("humChart").getContext('2d');
    var humChart = new Chart(ctx, {
    type: 'line',
    data: {
    labels: ["Humidity"],
    datasets: [{
        label: '% vs seg',
        backgroundColor:'rgba(59, 99, 210, 0.5)',
        borderColor: 'rgba(31, 53, 112, 1)',
        borderWidth: 1,
        //data: [0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
    }]
    },
    options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }
    }
    });

//TEMPERATURE chart
let counterTemp=0;
    socket.on("arduino:temp",(arduinoData)=>{
        //secondsPassed = timer.getTotalTimeValues().seconds;
        //console.log(secondsPassed);
        tempChart.data.labels.push(counterTemp);
        tempChart.data.datasets.forEach(dataset => {
            dataset.data.push(arduinoData.value);
        });    
        counterTemp++;
        if (counterTemp > 13){
            tempChart.data.labels.shift(counterTemp);
            tempChart.data.datasets.forEach(dataset => {
                dataset.data.shift(arduinoData.value);
            });    
        }
        tempChart.update();
    });
    // TEMPERATURE chart DEFINITION
    var ctx = document.getElementById("tempChart").getContext('2d');
    var tempChart = new Chart(ctx, {
    type: 'line',
    data: {
    labels: ["Temperature"],
    datasets: [{
        label: 'C° vs seg',
        backgroundColor:'rgba(59, 99, 210, 0.5)',
        borderColor: 'rgba(31, 53, 112, 1)',
        borderWidth: 1,
        //data: [-35,-30,-25,-20,-15,-10,-5,0,5,10,15,20,25,30,35]
    }]
    },
    options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }
    }
    });
    
        </script>
</body>
</html>